@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.bookmark-item:not([type="menu"]) > .toolbarbutton-text { font-size: 0; }
.bookmark-item[type="menu"] > .toolbarbutton-text { margin: -2px -2px -2px 4px !important; }
.bookmark-item:not(#bookmarks-menu-button) > .toolbarbutton-icon { margin: -3px !important; }